footer {
    background: #823329;
    color: #998888;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
}

footer a {
    color: #aaa;
    text-decoration: none;
}

footer a:hover {
    color: #fff;
}

footer h3 {
    color: #eadeda;
    letter-spacing: 1px;
    margin: 30px 0 20px;
}

footer li span {
    color: #bfb8ad;
}

footer .three-column {
    overflow: hidden;
}

footer .three-column li{
    width: 33.3333%;
    float: left;
    padding: 5px 0;
}

footer .socila-list {
    overflow: hidden;
    margin: 20px 0 10px;
}

footer .socila-list li {
    float: left;
    margin-right: 3px;
    opacity: 0.7;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

footer .socila-list li:hover {
    opacity: 1;
}

footer .img-thumbnail {
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid #444;
    margin-bottom: 5px;
}

footer .copyright {
    padding: 15px 0;
    background: #333;
    margin-top: 20px;
    font-size: 15px;
}

footer .copyright span {
    color: #0894d1;
}

.logoCar {
    width : 225px;
}


@media (max-width: 1024px){
    .team, .customer { 
        display : none; 
        visibility : hidden; 
    }
    footer .container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

