.body {
    height: 70vh;
    width: auto;
    margin: none;
}
.carImgHeader {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.7)), url('../images/car2.jpg');
    height: 70vh;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    margin:none;
}

.headerText {
    position: relative;
    margin: auto;
}
.heading2Home {
    color: #bfb8ad ;
    font-weight: 700;
}

.heading1Home {
    color: #eadeda;
    font-size: 60px;
    font-weight: 800;
    
}

.card{
    margin: auto;
    text-align: justify;
}
.homeInfo {
    color: #8a3033;
}

